---
export const prerender = false
import AdminLayout from '../../../layouts/AdminLayout.astro'
import SessionForm from '../../../components/SessionForm.astro'
---
<AdminLayout title="New session">
  <h1>New session</h1>
  <SessionForm isNew={true} />
</AdminLayout>
