---
// Central emblem: round heaven / square earth (天圆地方, also the Masonic
// compass + square) enclosing a stepped temple-mountain with an axis rising
// to a star. Three tiers = Dao / De / Zion. Purely decorative.
---
<span class="emblem" aria-hidden="true">
  <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" role="img">
    <circle class="em-heaven" cx="100" cy="100" r="90" />
    <rect class="em-earth" x="44" y="44" width="112" height="112" />
    <line class="em-horizon" x1="22" y1="150" x2="178" y2="150" />
    <path class="em-mount" d="M62,150 L138,150 L128,127 L72,127 Z" />
    <path class="em-mount" d="M74,127 L126,127 L117,104 L83,104 Z" />
    <path class="em-mount" d="M85,104 L115,104 L108,82 L92,82 Z" />
    <line class="em-axis" x1="100" y1="150" x2="100" y2="46" />
    <path class="em-star" d="M100,30 L103.5,40 L114,42 L103.5,44 L100,54 L96.5,44 L86,42 L96.5,40 Z" />
  </svg>
</span>
